attrs==22.1.0
Automat==22.10.0
cffi==1.15.1
constantly==15.1.0
cryptography==38.0.1
cssselect==1.2.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
lxml==4.9.1
parsel==1.6.0
Protego==0.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.6
pyOpenSSL==22.0.0
queuelib==1.6.2
Scrapy==1.8.1
service-identity==21.1.0
six==1.16.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typing_extensions==4.4.0
w3lib==2.0.1
zope.interface==5.5.0
